html{
  scroll-behavior: smooth;
}

::selection{
  background-color: #fc5c65;
}

::-webkit-scrollbar{
  width: 10px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb{
  background-color: #fc5c65;
}


.sticky{
  background-color: #fff;
  padding: 18px 0;
}

.sticky .logo{
  background-image: url(/static/images/logo/black-logo.png);
}

.sticky .navbar-menu a{
  color: #111;
}

.sticky .menu-toggler span{
  background-color: #111;
}

body {
    height: 100%;
    min-height: 100%;
    font-family: "Open Sans",helvetica,arial,serif;
    font-size: 14px;
    line-height: 1.2;
    color: black;
}

/* ----------NAVBAR---------- */
.navbar{
  position: fixed;
  background-color: transparent;
  width: 100%;
  padding: 30px 0;
  top: 0;
  z-index: 999;
  transition: .3s linear;
}

.inner-width{
  max-width: 1300px;
  margin: auto;
  padding: 0 40px;
}

.navbar .inner-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  width: 44px;
  height: 32px;
  background-image: url(/static/images/logo/white-logo.png);
  background-size: contain;
}

.menu-toggler{
  background: none;
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 999;
  display: none;
}

.menu-toggler span{
  display: block;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  position: relative;
  transition: .3s linear;
}

.navbar-menu a{
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  margin-left: 30px;
  transition: .2s linear;
}

.navbar-menu a:hover{
  color: #fc5c65 !important;
}


/* ----------FOOTER---------- */

.padding-1 {
    padding: 60px;
}

footer{
  background: #f1f1f1;
  padding: 0 0;
}

.footer-container{
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.logo2{
  width: 150px;
}

.social-media{
  margin: 20px 0px;
}

.social-media a{
  color: #001a21;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: .3s linear;
}

.social-media a:hover{
  color: #fc5c65;
}

.right-col h1{
  font-size: 35px;
}

.border{
  width: 100px;
  height: 4px;
  background: #fc5c65;
}

.btn{
  padding: 18px 20px;
  font-size: 13px;
  color: white;
  background: #fc5c65;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  margin-left: 210px;
  cursor: pointer;
  transition: opacity .3s linear;
}

.btn:hover{
  background: #fff;
  color: #2f3640;
  transform: scale(1.1);
  transition: .3s linear;
}

@media screen and (max-width:960px) {
  .footer-container{
    max-width: 600px;
  }
  .right-col{
    width: 100%;
    margin-bottom: 0px;
  }

  .left-col{
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width:700px){
  .btn{
    margin: 0;
    width: 100%;
    margin-top: 20px;
    }
}

/* ----------HOME---------- */
#inicio{
  height: 100vh;
  min-height: 500px;
  background: url(/static/images/bg/bg2.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

#inicio .inner-width{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

#inicio .content{
  width: 100%;
  color: #fff;
}

#inicio .content h1{
  font-size: 60px;
  margin-bottom: 60px;
}

.sm a{
  color: #fff;
  font-size: 22px;
  margin: 0 10px;
  transition: .2s linear;
}

.sm a:hover{
  color: #fc5c65;
}

#inicio .buttons{
  margin-top: 60px;
}

#inicio .buttons a{
  display: inline-block;
  margin: 15px 30px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  width: 180px;
  border: none;
  padding: 14px 0;
  border-radius: 30px;
  transition: opacity .3s linear;
  background: #fc5c65;
  outline: none;
  cursor: pointer;
}

#inicio .buttons a:hover,
#inicio .buttons a:nth-child(2)
{
  background: #fff;
  color: #2f3640;
  transform: scale(1.1);
  transition: .3s linear;
}



/* ----------SOBRE---------- */
section{
  padding: 100px 0;
  background-color: #f1f1f1;
}

.section-title{
  text-align: center;
  margin-bottom: 80px;
  position: relative;
  font-size: 26px;
  padding-bottom: 20px;
  color: #111;
}

.section-title::before{
  content: "";
  position: absolute;
  width: 80px;
  height: 3px;
  background-color: #111;
  bottom: 0;
  left: calc(50% - 40px);
}

.section-title::after{
  content: "";
  position: absolute;
  width: 16px;
  height: 10px;
  background-color: #fc5c65;
  border: 4px solid #f1f1f1;
  left: calc(50% - 12px);
  bottom: -7px;
}

.about-content{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.about-pic{
  width: 200px;
  border-radius: 0%;
  margin-right: 100px;
}

.about-text{
  flex: 1;
}

.about-text h3{
  margin: 10px 0;
  color: #444;
  font-size: 16px;
}

.about-text h3 span:nth-child(1):after,
.about-text h3 span:nth-child(2):after{
  content: "";
  width: 6px;
  height: 6px;
  background-color: #444;
  display: inline-block;
  border-radius: 50%;
  margin: 0 14px;
}

.about-text p{
  font-size: 17px;
  text-align: justify;
  line-height: 26px;
  margin-top: 20px;
}

/* ----------ESPECIALIDADES---------- */
.especialidades{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skill{
  width: calc(50% - 20px);
  margin: 15px 0;
}

.skill-info{
  display: flex;
  justify-content: space-between;
}

.skill-bar{
  height: 3px;
  background-color: #ddd;
  margin-top: 14px;
  position: relative;
}

.skill-bar::after{
  content: "";
  position: absolute;
  height: 6px;
  background-color: #fc5c65;
  bottom: 0;
}

.html:after{
  width: 90%;
}

.css:after{
  width: 80%;
}

.js:after{
  width: 70%;
}

.php:after{
  width: 60%;
}

.mysql:after{
  width: 90%;
}

.cs:after{
  width: 80%;
}

section.dark{
  background-color: #353b48;
}

section.dark .section-title{
  color: #f1f1f1;
}

section.dark .section-title::before{
  background-color: #f1f1f1;
}

section.dark .section-title::after{
  border: 4px solid #353b48;
}

/* ----------CURSOS---------- */
