{% extends 'layout.html' %}
{% block conteudo %}
<body>
<section id="inicio">
    <div class="inner-width">
        <div class="content">
            <h1>Escola CMB</h1>
            <div class="sm">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
            </div>
            <div class="buttons">
                <a href="#">CONTACTA-NOS</a>
                <a href="#">CURSOS</a>
            </div>
        </div>
    </div>
</section>

<section id="sobre">
    <div class="inner-width">
        <h1 class="section-title">A ESCOLA</h1>
        <div class="about-content">
            <img src="/static/images/logo/logomusica.png" alt="" class="about-pic">
            <div class="about-text">
                <h2>Escola CMB</h2>
                <h3>
                    <span>Escola</span>
                    <span>Familia</span>
                    <span>Paixao</span>
                </h3>
                <p>
                    A Escola de Música é uma instituição que surge em 2003, em Braga,
                    fruto da grande paixão pela música, por Gonçalo Gomes.
                    Os primeiros cursos serem leccionados foram o de piano e o de
                    guitarra clássica, colaborando com a escola apenas dois professores.
                    Ao longo dos anos, a escola foi sofrendo alteração em vários aspectos:
                    a equipa pedagógica aumentou, bem como o leque de cursos,
                    tentando sempre manter o nível de excelência do ensino praticado.
                </p>
            </div>
        </div>


        <div class="especialidades">
            <div class="skill">
                <div class="skill-info">
                    <span>PIANO</span>
                    <span>80%</span>
                </div>
                <div class="skill-bar html"></div>
            </div>

            <div class="skill">
                <div class="skill-info">
                    <span>GUITARRA ACUSTICA</span>
                    <span>65%</span>
                </div>
                <div class="skill-bar css"></div>
            </div>

            <div class="skill">
                <div class="skill-info">
                    <span>GUITARRA ELETRICA</span>
                    <span>70%</span>
                </div>
                <div class="skill-bar js"></div>
            </div>

            <div class="skill">
                <div class="skill-info">
                    <span>BAIXO ELETRICO</span>
                    <span>60%</span>
                </div>
                <div class="skill-bar php"></div>
            </div>

            <div class="skill">
                <div class="skill-info">
                    <span>CAVAQUINHO</span>
                    <span>60%</span>
                </div>
                <div class="skill-bar mysql"></div>
            </div>

            <div class="skill">
                <div class="skill-info">
                    <span>BATERIA</span>
                    <span>75%</span>
                </div>
                <div class="skill-bar cs"></div>
            </div>

            <div class="skill">
                <div class="skill-info">
                    <span>CANTO</span>
                    <span>80%</span>
                </div>
                <div class="skill-bar cs"></div>
            </div>

            <div class="skill">
                <div class="skill-info">
                    <span>VIOLINO</span>
                    <span>75%</span>
                </div>
                <div class="skill-bar cs"></div>
            </div>

            <div class="skill">
                <div class="skill-info">
                    <span>FLAUTA TRANSVERSAL</span>
                    <span>55%</span>
                </div>
                <div class="skill-bar cs"></div>
            </div>

            <div class="skill">
                <div class="skill-info">
                    <span>SAXOFONE</span>
                    <span>65%</span>
                </div>
                <div class="skill-bar cs"></div>
            </div>

            <div class="skill">
                <div class="skill-info">
                    <span>DJ</span>
                    <span>70%</span>
                </div>
                <div class="skill-bar cs"></div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
