<!DOCTYPE html>
<html lang="pt"></html>
<head>
    <meta charset="UTF-8">
    <title>Escola CMB</title>

    <!-- Load an icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://kit.fontawesome.com/a8894cee15.js" crossorigin="anonymous"></script>

</head>

<!--Navbar-->
<nav>
    <ul>
        <li><img class="logo" src="/static/images/logo/logomusica.png" width="80px"></li>
        <li><a href="/">INICIO</a></li>
        <li><a href="#news">CURSOS</a></li>
        <li><a href="#contact">ESCOLA</a></li>
        <li><a href="#about">GALERIA</a></li>
        <li><a href="#about">CONTACTOS</a></li>
        <li><a href="#about">MYADMIN</a></li>
        <li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://www.instagram.com"><i class="fa fa-user"></i></a></li>
    </ul>
</nav>

</body>

{% block conteudo %}
{% endblock %}

<div class="padding-1"></div>
<footer class="footer-distributed">
    <div class="footer-left">

        <h3>ESCOLA<span>CMB</span></h3>

        <p class="footer-links">
            <a href="/">Inicio</a>
            ·
            <a href="#">Blog</a>
            ·
            <a href="#">Precos</a>
            ·
            <a href="#">Sobre</a>
            ·
            <a href="#">Faq</a>
            ·
            <a href="#">Contacto</a>
        </p>

        <p class="footer-company-name">Goncalo Gomes &copy; 2020</p>
    </div>

    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Rua Nova da Estacao</span> Maximinos, Braga</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+356 963 965 166</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@company.com">escolaCMB@gmail.com</a></p>
        </div>

    </div>

    <div class="footer-right">
        <p class="footer-company-about">
            <span>Sobre a nossa escola</span>
            A comunidade educativa do CMB envolve cerca de 500 alunos com idades compreendidas entre os 4 e 25 anos, onde todos têm em comum a paixão pela música. Os requisitos para estudar no CMB centram-se essencialmente no gosto musical de cada aluno e nas suas potencialidades.
        </p>

        <div class="footer-icons">
            <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
            <a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
        </div>
    </div>

</footer>

</body>
</html>
