<!DOCTYPE html>
<html lang="pt"></html>
<head>
    <meta charset="UTF-8">
    <title>Escola CMB</title>

    <!-- Load an icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://kit.fontawesome.com/a8894cee15.js" crossorigin="anonymous"></script>

</head>

<!--Navbar-->
<header>
    <div class="inner-width">
        <a href="#" class="logo"><img src="/static/images/logo/logomusica.png" alt=""></a>
        <i class="menu-toggle-btn fas fa-bars"></i>
        <nav class="navigation-menu">
            <a href="#"><i class="fas fa-home home"></i> Home</a>
            <a href="#"><i class="fas fa-align-left about"></i> About</a>
            <a href="#"><i class="fab fa-buffer works"></i> Works</a>
            <a href="#"><i class="fas fa-users team"></i> Team</a>
            <a href="#"><i class="fas fa-headset contact"></i> Contact</a>
        </nav>
    </div>
</header>


<script type="text/javascript">
      $(".menu-toggle-btn").click(function(){
        $(this).toggleClass("fa-times");
        $(".navigation-menu").toggleClass("active");
      });

</script>

</body>

{% block conteudo %}
{% endblock %}

<div class="padding-1"></div>
<footer>
    <div class="footer-container">
        <div class="left-col">
            <img src="/static/images/logo/logomusica.png" alt="" class="logo2">
            <div class="social-media">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
            <p class="rights-text">© 2020 Created By Gonçalo Gomes All Rights Reserved.</p>
        </div>

        <div class="right-col">
          <h1>Escola CMB</h1>
          <div class="border"></div>
          <p>A comunidade educativa do CMB envolve cerca de 500 alunos com idades compreendidas<br> entre os 4 e 25 anos, onde todos têm em comum a paixão pela música.Os requisitos para<br>
              estudar no CMB centram-se essencialmente no gosto musical de cada aluno e nas suas<br> potencialidades.</p>
          <form action="" class="newsletter-form">
            <input type="submit" class="btn" value="CONTACTA-NOS">
          </form>
        </div>
    </div>
</footer>

</body>
</html>
