{% extends 'layout.html' %}
{% block conteudo %}
<body>
<div class="loader-container">
    <div class="loader"></div>
</div>

<section id="home3">
    <div class="inner-width">
        <div class="content">
            <h1>LOGIN</h1>
            <div class="sm">
                <a href="https://www.facebook.com" class="fab fa-facebook-f"></a>
                <a href="https://twitter.com/home" class="fab fa-twitter"></a>
                <a href="https://instagram.com" class="fab fa-instagram"></a>
            </div>
        </div>
    </div>
</section>

<section id="login">
    <div class="signup-form">
        <form>
            <h1>Log In</h1>
            <form method="post">
                <input type="text" name='utilizador' required placeholder="Nome de Utilizador" class="txtb">
                <input type="email" name='email' required placeholder="Email" class="txtb">
                <input type="password" name='passe' required placeholder="Password" class="txtb">
                <input type="submit" value="Entrar" class="signup-btn">
            </form>
        </form>
    </div>
</section>
<script>
        $(window).on("load",function(){
            $(".loader-container").fadeOut(1000);
        });

</script>
</body>
{% if erro %}<h1>{{ erro }}</h1>{% endif %}
{% endblock %}
